/*
|--------------------------------------------------------------------------
| MOBILE NAV
|--------------------------------------------------------------------------
*/

.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--mobile-nav-height);
    background-color: var(--image-background);
    color: var(--on-background-variant);
    padding-block: 12px 16px;
    z-index: 4;
    box-shadow: var(--shadow-1);
}

.mobile-nav .nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);